a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    word-wrap: break-word;
}
input {
    white-space: nowrap;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
* {
    background-repeat: no-repeat;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);       /*取消表单元素在手机中出现的边框*/
}

ul, li, ol {
    list-style: none;
}

img {
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);   /*取消图片元素在手机中出现的边框*/
}
/*高度自动伸缩*/
html, body {
    height: 100%;
}

.content {
    min-height: 100%;
}

a {
    text-decoration: none;
    border: none;
    outline: none;
    tap-highlight-color: rgba(0, 0, 0, 0);
    focus-ring-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);              /*当用户点击iOS的Safari浏览器中的链接或JavaScript的可点击的元素时，覆盖显示的高亮颜色。*/
    -webkit-focus-ring-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-focus-ring-color: rgba(0, 0, 0, 0);
    color: #1b1b1b;
}
a:visited {
    color: inherit;
}

input, button {
    outline: none;
}
body{
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    font-size:14px;
}
em{
    font-style: normal;
}
table{
    border-collapse:collapse;
}
textarea{
    resize:none;
    overflow: auto;
}
.clear{
    zoom:1;
}
.clearfix::after{
    content:"";
    display:block;
    visibility: hidden;
    clear:both;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
